# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
# Vi kommenterar bort denna rad så att out-mappen kan versionshanteras för GitHub Pages
# /out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts 